<ion-header collapse="fade">
    <ion-toolbar class="title">
        <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
            <ion-thumbnail>
                <img alt="Enveloppe"
                    src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1668516112/Logo_Clovis_fxqyoh.png" />
            </ion-thumbnail>
            <ion-text>clovis</ion-text>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <h1 class="title">Découvrez vos opportunités avec un expert Clovis</h1>
                    <p class="subtitle">Réservez votre rendez-vous offert avec votre expert Clovis sans engagement</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button style="min-width: 270px" class="clovis">Me faire rappeler</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <div class="ion-text-center">
                    <h1 class="title">+ 200 000 personnes</h1>
                    <div class="custome-title">ont fait confiance à Clovis</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <img alt="Enveloppe"
                src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1704809795/landing%20pages/PER-Clovis/hl3tlnzxdjlrqv4tzook.png" />

        </ion-row>
        <ion-row class="ion-justify-content-center">
            <img class="trust" alt="Enveloppe"
                src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1615905954/Signature%20Email/trust_credential_bldu39.png" />

        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col>
                <div class="ion-text-center">
                    <h1 class="title">Vous aussi, réservez votre RDV offert avec nos experts</h1>
                    <p class="subtitle">+50 experts certifiés Clovis répondent à vos questions et vous aident à
                        atteindre votre situation financière idéale</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <div class="card-expert">
                <div class="card-expert-header">
                    <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1668516112/Logo_Clovis_fxqyoh.png"
                        alt="Certification" class="certification-icon">
                </div>
                <div class="card-expert-content">
                    <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1684128807/Ic%C3%B4nes%20et%20illustrations/avatar_clecourt_pbq4ru.png"
                        alt="Profile Picture" class="profile-picture">
                    <h2 class="name">Christophe Lecourt</h2>
                    <p class="title">Expert en fiscalité personnelle</p>
                    <p class="distance">à moins de 10 km de vous</p>
                    <div class="rating">
                        <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1615905954/Signature%20Email/trust_credential_bldu39.png"
                            alt="Trust">
                    </div>
                    <div class="background">
                        <div class="specialties">
                            <h3>Spécialité</h3>
                           
                            <ion-item color="undefined" lines="none">
                                Défiscalisation
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                Placements financiers
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                Optimisation fiscale
                            </ion-item>
                        </div>
                        <div class="experience">
                            <h3>Expérience</h3>
                            <ion-item color="undefined" lines="none">
                                <ion-checkbox disabled="true" checked="true" justify="start" labelPlacement="end">+ 25
                                    ans</ion-checkbox>
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                <ion-checkbox disabled="true" checked="true" justify="start" labelPlacement="end">+ 15
                                    ans</ion-checkbox>
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                <ion-checkbox disabled="true" checked="true" justify="start" labelPlacement="end">+ 25
                                    ans</ion-checkbox>
                            </ion-item>
                        </div>
                    </div>

                </div>
            </div>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <div class="card-expert">
                <div class="card-expert-header">
                    <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1668516112/Logo_Clovis_fxqyoh.png"
                        alt="Certification" class="certification-icon">
                </div>
                <div class="card-expert-content">
                    <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1717057920/Ic%C3%B4nes%20et%20illustrations/avatar_jeanne_barthelemy_afnezb.png"
                        alt="Profile Picture" class="profile-picture">
                    <h2 class="name">Anaïs Bertillon</h2>
                    <p class="title">Expert en fiscalité personnelle</p>
                    <p class="distance">à moins de 12 km de vous</p>
                    <div class="rating">
                        <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1615905954/Signature%20Email/trust_credential_bldu39.png"
                            alt="Trust">
                    </div>
                    <div class="background">
                        <div class="specialties">
                            <h3>Spécialité</h3>
                           
                            <ion-item color="undefined" lines="none">
                                Placements financiers
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                Optimisation fiscale
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                Aide à la déclaration
                            </ion-item>
                        </div>
                        <div class="experience">
                            <h3>Expérience</h3>
                            <ion-item color="undefined" lines="none">
                                <ion-checkbox disabled="true" checked="true" justify="start" labelPlacement="end">+17 ans</ion-checkbox>
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                <ion-checkbox disabled="true" checked="true" justify="start" labelPlacement="end">+7 ans</ion-checkbox>
                            </ion-item>
                            <ion-item color="undefined" lines="none">
                                <ion-checkbox disabled="true" checked="true" justify="start" labelPlacement="end">+8 ans</ion-checkbox>
                            </ion-item>
                        </div>
                    </div>

                </div>
            </div>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <h3>Vos prochaines étapes</h3>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <div class="steps-content">
                <div class="card">
                    <div class="card-header">
                        <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1617361766/Communication%20contents/icn_button_number_1_ulb8lw.png"
                            alt="" />
                        <h5>Échangez avec votre expert</h5>
                    </div>
                    <p>Réservez votre RDV gratuit et sans engagement avec votre expert dédié.</p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1617361767/Communication%20contents/icn_button_number_2_vnn90y.png"
                            alt="" />
                        <h5>Échangez avec votre expert</h5>
                    </div>
                    <p>Découvrez les bonnes stratégies et accédez aux meilleures solutions adaptées à vos besoins.
                    </p>
                    <img class="expert"
                        src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1704731220/landing%20pages/PER%20-%20LP%20-%20Epargne%20Actuelle/oliqtts1ch31cnhzirea.png"
                        alt="" />
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1617361766/Communication%20contents/icn_button_number_1_ulb8lw.png"
                            alt="" />
                        <h5>Échangez avec votre expert</h5>
                    </div>
                    <p>Mettez en oeuvre vos préconisations et vos solutions avec nos experts. Ils vous accompagnent
                        de A
                        à Z.
                    </p>
                </div>
            </div>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <h1 class="title">Accédez aux meilleures opportunités fiscales, financières et immobilières</h1>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-bottom">
            <ion-button (click)="scrollToTop()" style="min-width: 270px" class="clovis">Je valide mon rendez-vous</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>