<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>Mentions légales</ion-title>
    <ion-back-button text="" slot="start" defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding notice">
  <ion-card>
    <ion-card-content>
      <h4><strong>Mentions légales</strong></h4>
      <p>
        Conformément à la loi n°2004-575 du 21 juin 2004 pour la confiance dans
        l’économie numérique, article 6, III, b, nous vous informons que :
      </p>
      <h6>1. Éditeur</h6>

      <p>Ce site est conçu et exploité par CARE SAS.</p>
      <p>Clovis est la propriété de CARE SAS.</p>
      <p>
        Clovis rend accessible à toutes et tous les services de banque privée
        longtemps réservés à une élite de privilégiés. Sans conditions de
        revenus, de patrimoine, de ticket d’entrée ou de dépôt minimum. Nous
        aidons les Français à atteindre leur situation financière idéale en
        prenant les bonnes décisions pour leur argent en accédant facilement et
        rapidement aux meilleures solutions. Tout simplement.
      </p>
      <p>
        Clovis est une marque de CARE, Société par Actions Simplifiée au capital
        de 30 050€, enregistrée au Registre du Commerce et des Sociétés de
        Paris, sous le numéro 884164781 dont le code NAF est 7022Z et ayant son
        siège social au 154 Avenue de Wagram, 75017 Paris, France. Nos locaux
        sont situés au 154 Avenue de Wagram, 75017 Paris et au 10 rue des
        Satellites, 33185 Le Haillan.
      </p>
      <p>
        Clovis dispose de l’ensemble des agréments et autorisations nécessaires
        pour vous fournir une offre complète de services financiers, immobiliers
        et fiscaux :
      </p>
      <ul>
        <li>
          Conseil en Investissements Financiers (CIF) fournissant des conseils
          d’investissement sur-mesure et assurant la réalisation et la gestion
          d’investissements pour les clients.
        </li>
        <li>
          Intermédiaire en Assurance (IAS) : Courtier d’assurance indépendant
          fournissant des recommandations personnalisées et des solutions
          d’assurance.
        </li>
        <li>
          Détenteur de la Carte T pour la réalisation de transactions
          immobilières.
        </li>
        <li>
          Service à la personne agréé pour l’assistance administrative et
          fiscale.
        </li>
        <li>
          Point Conseil Budget pour le conseil et l’accompagnement budgétaires.
        </li>
      </ul>
      <p>
        Clovis est immatriculée à l’ORIAS sous le numéro unique 20009424 pour
        ses activités régulées de CIF et COA. Ces informations sont consultables
        sur le site internet de l’ORIAS. La société dispose également de la
        carte professionnelle numéro CPI75012021000000717 délivrée par la CCI de
        Paris Île-de-France pour effectuer des transactions sur immeubles et
        fonds de commerce.
      </p>
      <p>
        L’activité de conseil en investissements financiers est placée sous le
        contrôle de l’Autorité des Marchés Financiers (AMF – 17 Place de la
        Bourse 75082 Paris Cedex 02). Les activités de courtage en assurance et
        intermédiation en opérations de banque sont placées sous le contrôle de
        l’Autorité de Contrôle Prudentiel et de Résolution (ACPR – 4 Place de
        Budapest, 75436 Paris Cedex 09 – site internet). L’activité de
        transactions sur biens immobiliers et fonds de commerce est placée sous
        le contrôle de la DGCCRF.
      </p>

      <h6>2. Hébergeur</h6>
      <p>
        IONOS SARL, SARL au capital de 100 000 EUR, RCS Sarreguemines B 431 303
        775, SIRET 431 303 775 000 16, Code APE : 6201Z, Identification
        intracommunautaire FR 13 431303775.
      </p>

      <h5>3. Propriété intellectuelle</h5>
      <p>
        La marque Clovis est déposée à l’INPI par la société CARE SAS. La
        reproduction ou représentation de tout ou partie du présent site
        internet, par quelque moyen que ce soit, est par conséquent strictement
        interdite sans l’accord préalable et écrit de CARE SAS. CARE SAS est
        propriétaire et dispose des droits d’exploitation de tout contenu publié
        sur son site (notamment textes, images, illustrations, films, sons).
      </p>

      <h6>4. Rémunération</h6>
      <p>
        La société CARE se rémunère en tant qu’intermédiaire et perçoit une
        rémunération qui lui est versée par ses partenaires (…), auxquels elle
        apporte des clients ou prospects.
      </p>

      <h6>5. Réclamations</h6>
      <p>
        Clovis s’efforce de mener toutes ses activités dans l’intérêt premier de
        ses clients, et reconnaît donc, par conséquent, que ces derniers
        puissent émettre des réclamations à l’encontre de nos produits et
        services. Nous souhaitons pouvoir régler toutes vos réclamations à
        l’amiable. Nous avons également mis en place une procédure de gestion
        des réclamations clients au sein de notre société afin de garantir le
        traitement rapide et approprié de toute réclamation. Toute réclamation
        introduite par un client sera examinée par nos équipes et fera l’objet
        d’une réponse au client sous deux mois.
      </p>
      <p>
        <strong>Qu’est-ce qu’une « réclamation » ?</strong> Une réclamation
        reflète l’insatisfaction ou le mécontentement d’un utilisateur
        s’agissant d’un produit ou service, fourni ou offert en interne, par
        Clovis, et portant sur une activité régulée.
      </p>
      <p>
        <strong>Comment soumettre sa réclamation ?</strong> Toute réclamation
        doit être introduite par écrit, via courrier, e-mail, ou chat, par le
        client en personne. La réclamation peut être introduite, sans frais à la
        charge du client, en français. Le client doit clairement indiquer qu’il
        souhaite faire une réclamation à l’encontre de Clovis. La requête devra
        décrire l’objet de la réclamation et contenir vos coordonnées de contact
        (nom, email et numéro de téléphone).
      </p>
      <p>Il/Elle peut contacter le Service Réclamations de Clovis, soit :</p>
      <ul>
        <li>par e-mail : à l’adresse : contact&#64;getclovis.fr</li>
        <li>
          par courrier à : Clovis – Attn : Service Réclamations 154 avenue de
          Wagram 75017 Paris
        </li>
        <li>
          par chatbox :
          <a href="https://www.getclovis.fr/">https://www.getclovis.fr/</a>
        </li>
      </ul>
      <p>
        Le client peut également présenter sa réclamation à Clovis via l’expert
        en finances personnelles avec qui il est en relation. Si la réclamation
        ne porte pas directement sur un produit ou service fourni par Clovis, le
        client est invité à porter sa réclamation auprès du tiers. Si la réponse
        du tiers ne satisfait pas le client, il/elle peut demander l’implication
        de Clovis dans la résolution de la réclamation.
      </p>
      <p>
        <strong>Comment Clovis traite les réclamations ?</strong> Le traitement
        des réclamations relève de la responsabilité du Service Réclamations. À
        chaque réclamation reçue, le Service envoie au réclamant un accusé de
        réception, via courrier ou e-mail, sous dix (10) jours ouvrables à
        compter de la réception de la réclamation, sauf si la réponse à la
        réclamation est communiquée dans ce délai. Le client y est notamment
        informé du nom et des coordonnées de la personne en charge du traitement
        de sa réclamation. Une réponse finale est envoyée dans un délai de deux
        (2) mois suivant la date de réception de sa réclamation. Dans
        l’hypothèse où Clovis nécessiterait plus de temps pour apporter sa
        réponse, une explication sera envoyée au client sur les raisons du
        dépassement du délai, et indiquera la date à laquelle la réponse sera
        communiquée.
      </p>
      <p>
        <strong>Recours à un médiateur</strong> Un client non satisfait de la
        résolution de sa réclamation par Clovis peut porter sa réclamation
        devant un médiateur sous un délai d’un (1) an suivant le dépôt de sa
        demande à Clovis. Il est possible pour les clients consommateurs de
        recourir aux médiateurs suivantes :
      </p>
      <ul>
        <li>
          Pour les litiges relevant de l’activité de conseil en investissements
          financiers :
          <a href="https://www.amf-france.org/fr/le-mediateur"
            >Médiateur de l’Autorité des marchés financiers (AMF) 17, place de
            la Bourse 75 082 Paris cedex 02</a
          >
        </li>
        <li>
          Pour les litiges relevant de l’activité de courtage en assurance :
          <a href="https://www.mediation-assurance.org/Saisir+le+mediateur"
            >La Médiation de l’Assurance TSA 50110 75441 PARIS CEDEX 09</a
          >
        </li>
        <li>
          Pour les litiges relevant des activités d’intermédiation en opération
          de banque et de transaction immobilière :
          <a href="https://www.anm-conso.com/site/particulier.php"
            >La Médiation de la Consommation – ANM Conso 62 rue Tiquetonne 75002
            PARIS</a
          >
        </li>
      </ul>
      <p>
        Il est possible pour les clients professionnels (litige avec une
        entreprise) de recourir au médiateur suivant :
        <strong>Médiateur de l’Anacofi</strong> 92 rue d’Amsterdam 75009 Paris
        Email : mediation&#64;anacofi.asso.fr
      </p>
      <p>
        Par ailleurs, le client peut aussi accéder à la plateforme européenne de
        Résolution en Ligne des Litiges à l’adresse suivante :
        <a href="https://webgate.ec.europa.eu/odr"
          >https://webgate.ec.europa.eu/odr</a
        >
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
