<ion-header collapse="fade">
  <clovis-header title="Objectifs" route="settings"></clovis-header>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1>Quels sont vos objectifs ?</h1>
    <p>Choisissez vos priorités financières</p>
  </div>

  <clovis-card-button
    title="Réduire mes impôts"
    colorChip="primary"
    textChip="Avantages fiscaux"
    content="Économisez jusqu’à 10 000€ d’impôt par an dès maintenant !"
    route="/recommandation/reduce-tax"
  >
  </clovis-card-button>

  <clovis-card-button
    title="Fructifiez votre épargne"
    colorChip="primary"
    textChip="Placements performants"
    content="Augmentez la rentabilité de votre épargne à partir de 50€/mois"
    route="/recommandation/grow-savings"

  >
  </clovis-card-button>

  <clovis-card-button
    title="Générez des revenus passifs"
    colorChip="primary"
    textChip="Revenus supplémentaires"
    content="Gagnez jusqu’à 300 € de revenus passifs en moyenne dès cette année"
    route="/recommandation/generate-passive-income"
  >
  </clovis-card-button>
  <clovis-card-button
    title="Préparer ma retraite"
    colorChip="primary"
    textChip="Retraite complémentaire"
    content="Sécurisez votre avenir à la retraite avec des avantages exclusifs"
    route="/recommandation/prepare-retirement"

  >
  </clovis-card-button>
  <clovis-card-button
  title="Gérer mon patrimoine"
  colorChip="primary"
  textChip="Meilleure gestion financière"
  content="Synchronisez vos investissements et ajoutez vos comptes au même endroit"

>
</clovis-card-button>
  <clovis-card-button
    title="Optimiser mes déclarations"
    colorChip="primary"
    textChip="Optimiser ma fiscalité"
    content="Déclarez vos revenus avec nos experts ou grâce à notre IA fiscale Clovis"
    route="/recommandation/optimize-declarations"

  >
  </clovis-card-button>
  <clovis-card-button
    title="Gagner jusqu’à 2 500 €"
    colorChip="primary"
    textChip="Partager Clovis"
    content="Dès aujourd’hui grâce au programme de fidélité Clovis en parrainant mes proches !"
    route="/recommandation/referral"

  >
  </clovis-card-button>
</ion-content>
