<ion-header collapse="fade">
  <ion-toolbar class="title">
    <ion-row
      class="ion-justify-content-center ion-align-items-center ion-text-center"
    >
      <ion-thumbnail>
        <img
          alt="Enveloppe"
          src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1668516112/Logo_Clovis_fxqyoh.png"
        />
      </ion-thumbnail>
      <ion-text>clovis</ion-text>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding" [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-padding ion-margin-top">
      <ion-text class="ion-text-center">
        <h1>Gagnez jusqu’à 1 500 € en parrainant vos proches</h1>
        <p>Faites profitez à vos proches des meilleures avantages</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button class="color" shape="round"> Inviter un proche </ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-center ">
    <h5>ou partagez votre code</h5>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button color="light" shape="round"> AEF89ZXP </ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
    <p>
      *vos filleuls doivent réaliser une opération avec Clovis dans l’année en
      cours. Tous les gains obtenus grâce aux filleuls sont transférés dans
      votre cagnotte pendant 6 mois.
    </p>
  </ion-row>
  <ion-text class="ion-margin-start"> </ion-text>
</ion-content>
