<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>Confidentialité</ion-title>
    <ion-back-button text="" slot="start" defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding notice">
  <ion-card>
    <ion-card-content>
      <h4><strong>Politique de confidentialité</strong></h4>

      <p>
        Clovis souhaite optimiser la manière dont vous optimisez vos finances
        personnelles, et nous prenons très au sérieux la protection des données
        personnelles de nos utilisateurs et clients.
      </p>

      <p>
        Nous avons écrit cette politique de confidentialité avec le plus grand
        soin, guidés par un esprit de clarté et de transparence afin de vous
        expliquer notre politique de traitement de vos données, vos droits, et
        nos devoirs en la matière, ainsi que les moyens pour nous contacter afin
        d’obtenir plus d’informations.
      </p>

      <p>
        Merci de bien vouloir lire cette politique de bout en bout avant
        d’utiliser notre site, d’utiliser nos services et de nous transmettre
        des informations.
      </p>

      <p>
        Nous vous prions également de vous reporter à nos Conditions générales
        d’utilisation.
      </p>

      <p>
        Clovis met tout en œuvre pour maintenir les plus hauts standards de
        protection des données à tout instant et respecter le Règlement Général
        sur la Protection des Données et la Loi « Informatique et Libertés ».
      </p>

      <h6>Notre politique de traitement des données personnelles</h6>

      <h6>Comment Clovis collecte-t-il vos données ?</h6>
      <p>
        Clovis collecte vos données de deux manières : Lorsque vous accédez,
        consultez, naviguez ou utilisez notre site www.clovis.fr. Lors de tout
        échange, entrant ou sortant, entre Clovis, ses employés, partenaires et
        prestataires, et vous, que ce soit par courrier, email, appel
        téléphonique, visioconférence, chatbox, questionnaire, ou tout autre
        moyen de communication.
      </p>

      <h6>Quelles sont les données collectées ?</h6>
      <p>
        Suivant votre utilisation de notre site web et de nos services, nous
        pouvons être amenés à collecter les données suivantes :
      </p>
      <ul>
        <li>
          Données d’identification et de contact : il s’agit de votre prénom,
          nom, âge, lieu de résidence, adresse email et numéro de téléphone.
        </li>
        <li>
          Données de connexion et de navigation sur le site : il s’agit de la
          manière dont vous êtes arrivés sur le site et de données liées à vos
          actions sur notre site (temps passés dessus, pages visitées…).
        </li>
        <li>
          Informations sur votre situation personnelle : il s’agit des
          informations demandées sur notre site, par nos prestataires et par nos
          conseillers, afin de vérifier votre éligibilité à nos services puis
          d’obtenir les informations nécessaires à la fourniture de conseil.
        </li>
        <li>
          Informations et documents nécessaires à la réalisation
          d’investissement : ils varient selon nos partenaires fournisseurs de
          produits financiers, assurantiels ou immobiliers. Il s’agit a minima
          d’une pièce d’identité et d’un justificatif de domicile mais d’autres
          informations et documents non demandés par Clovis pourront être
          nécessaires afin de finaliser vos investissements.
        </li>
        <li>
          Vos échanges avec Clovis : il s’agit de toutes les communications
          entre Clovis et le client, pour quelque raison que ce soit, via
          courriers, emails, chatbox, questionnaires, appels, visioconférences
          et autres moyens de communication.
        </li>
        <li>
          Enregistrement d’appels audios ou visio : il s’agit d’appels avec les
          prospects et clients enregistrés à des fins d’amélioration de la
          qualité de nos services et formation de nos employés. Les prospects et
          clients peuvent s’opposer à l’enregistrement. Ce traitement est de la
          responsabilité de notre équipe Sales Operations. Les appels peuvent
          être réécoutés ou revus par le responsable des ventes et les équipes
          Sales Operations et Legal & Compliance. Les enregistrements sont
          conservés pour moins de 6 mois.
        </li>
      </ul>

      <h6>Comment sont traitées vos données ?</h6>
      <p>
        Nous traitons la plupart du temps vos données en tant que responsable du
        traitement. Il se peut néanmoins que dans certains cas spécifiques, nous
        agissions soit comme co-responsables soit comme sous-traitants. Vos
        données sont traitées avec une finalité précise, et dans le respect des
        principes de légitimité, limitation du traitement et minimisation des
        données à ce qui est nécessaire.
      </p>

      <p>
        Nous traitons vos données en nous reposant sur les bases suivantes :
      </p>
      <ul>
        <li>
          l’exécution d’un contrat : pour ce qui est de la fourniture de nos
          services internes d’aide à la déclaration d’impôt et à la réalisation
          d’investissement avec notre équipe de conseillers internes.
        </li>
        <li>
          le respect de nos obligations légales : pour ce qui est du respect de
          nos obligations de connaissance client, lutte anti-blanchiment et
          financement du terrorisme ou de preuve en matière légale,
          réglementaire, fiscale, comptable ou commerciale.
        </li>
        <li>
          nos intérêts légitimes : pour ce qui concerne nos actions visant à
          améliorer la qualité de nos services et l’expérience utilisateur, vous
          envoyer des mails d’information (newsletter…) ou répondre à vos
          questions.
        </li>
        <li>
          votre consentement : pour ce qui est de l’enregistrement des appels
          vidéos. La liste d’exemple de traitement reposant sur ces bases est
          non-limitative.
        </li>
      </ul>

      <h6>Combien de temps vos données sont-elles conservées ?</h6>
      <p>
        La durée de conservation des données n’excède pas la durée nécessaire
        aux finalités pour lesquelles elles ont été collectées et se conforme à
        nos obligations légales et réglementaires. Ainsi, vos données pourront
        être conservées :
      </p>
      <ul>
        <li>
          Jusqu’à 2 ans à compter du dernier contact pour les prospects et
          autres contacts commerciaux;
        </li>
        <li>
          Pendant 5 ans à compter de la fin de la relation commerciale ou de la
          dernière transaction;
        </li>
        <li>
          Pendant 10 ans voire plus si la conservation est nécessaire à des fins
          de preuves légales, commerciales, comptables ou fiscales.
        </li>
      </ul>

      <h6>Quelles sont les modalités de transfert à des tiers ?</h6>
      <p>
        Par principe, Clovis ne transférera pas vos données à des tiers sauf à
        des fins de réalisation de vos objectifs d’investissement – nos
        partenaires ayant, comme nous, des obligations de connaissance client –
        ou, sur votre demande, pour vous mettre en relation avec nos
        partenaires. Dans tous les cas, Clovis s’assure que tout tiers ayant eu
        accès à vos données respecte ses obligations légales et réglementaires
        en matière de protection des données.
      </p>

      <p>
        Vous pouvez demander la limitation du traitement de vos données, et
        notamment le non transfert de vos données à des tiers, mais cela pourra
        limiter la qualité du service reçu.
      </p>

      <h6>Vos droits et nos devoirs</h6>
      <p>
        En tant qu’utilisateur ou client de Clovis, vous disposez des droits
        suivants sur vos données en notre possession :
      </p>
      <ul>
        <li>droit d’accès ;</li>
        <li>droit de rectification de vos données ;</li>
        <li>droit à l’oubli ;</li>
        <li>
          droit d’opposition et/ou limitation du traitement de vos données ;
        </li>
        <li>
          droit de retrait de votre consentement au traitement de vos données ;
        </li>
        <li>droit à la portabilité ;</li>
        <li>
          et le droit méconnu à la définition de directives relatives au sort de
          vos données en cas de décès.
        </li>
      </ul>

      <p>
        Et vous pouvez introduire une réclamation à la CNIL si vous le jugez
        nécessaire. De notre côté, nous nous devons de mettre en place les
        mesures de sécurité les plus appropriées afin de protéger vos données
        personnelles. Cela passe par les mesures organisationnelles et
        techniques suivantes :
      </p>
      <ul>
        <li>
          tous nos employés, partenaires et prestataires ont signé des contrats
          contenant des clauses de confidentialité et de traitement des données
          personnelles ;
        </li>
        <li>
          nous avons mis en place des procédures internes relatives aux
          traitement des données et formons continuellement nos employés sur ce
          sujet ;
        </li>
        <li>les ordinateurs de nos employés sont protégés ;</li>
        <li>vos données sont cryptées ;</li>
        <li>nos serveurs sont basés en Europe chez Microsoft Azure Cloud ;</li>
        <li>
          aucune donnée n’est transférée en dehors de l’Union Européenne ou dans
          une juridiction non équivalente en la matière.
        </li>
      </ul>

      <p>
        Dans la faible hypothèse où vos données personnelles seraient volées,
        nous vous informerons ainsi que la CNIL, dans les conditions requises
        par la réglementation en vigueur.
      </p>

      <h6>Comment nous contacter ?</h6>
      <p>
        Si vous souhaitez exercer vos droits, il existe différentes méthodes
        pour nous contacter :
      </p>
      <ul>
        <li>
          Par courrier envoyé à l’adresse : Clovis ATTN : Service Clients 25
          quai du Président Paul Doumer 92400 Courbevoie, France. N’oubliez pas
          d’indiquer l’adresse à laquelle nous pouvons vous répondre, par
          courrier et/ou email.
        </li>
        <li>
          Par email envoyé à l’adresse : contact&#64;getclovis.fr. Clovis se
          réserve le droit de vous demander une preuve d’identité (Carte
          d’identité, Passeport, Permis de conduire, Titre de séjour) pour
          vérifier votre identité. Le Service Clients vous adressera ensuite une
          réponse sous un mois à compter de la réception de votre demande. Ce
          délai pourra néanmoins être prolongé à deux mois en fonction de la
          complexité et/ou du nombre de demandes.
        </li>
        <li>
          Si vous souhaitez contacter directement le délégué à la protection des
          données personnelles nommé au sein de Clovis, merci de le préciser
          dans votre email à contact&#64;getclovis.fr ; vous serez alors mis en
          relation avec ce dernier.
        </li>
      </ul>

      <h6>Comment se désabonner de nos emails ?</h6>
      <p>
        Vous pouvez vous désabonner de notre newsletter et de nos autres emails
        en cliquant sur le lien de désabonnement figurant dans tous nos emails,
        ou bien en adressant une demande en ce sens à contact&#64;getclovis.fr.
      </p>

      <h6>Comment se désinscrire de notre site ?</h6>
      <p>
        Vous pouvez vous désinscrire de notre site et demander à ne plus être
        contacté par Clovis en renseignant en nous adressant une demande en ce
        sens à contact&#64;getclovis.fr.
      </p>

      <h6>Nos cookies</h6>
      <p>
        Les cookies sont des fichiers sur votre pc, tablette ou téléphone qui
        contiennent des données. Ils servent à :
      </p>
      <ul>
        <li>
          vous identifier lors de vos connexions sur votre espace personnel ;
        </li>
        <li>répondre à vos questions via le chat en ligne ;</li>
        <li>
          connaître votre utilisation de notre site, la fréquentation,
          l’efficacité du site, réaliser des statistiques ;
        </li>
        <li>
          des cookies publicitaires pour mesurer l’efficacité de nos campagnes
          publicitaires et s’assurer que vous ne les voyez pas trop. Ils peuvent
          être refusés.
        </li>
      </ul>
      <p>
        À votre première connexion sur notre site (ou lors de chaque connexion
        en navigation privée), une bannière Axeptio apparaîtra en bas et vous
        demandera d’autoriser ou non les cookies. Certains ne peuvent pas être
        refusés car nécessaires au fonctionnement du site, ou pour utiliser le
        chat en ligne. Une fois que vous acceptez, ce consentement est valable
        pendant 13 mois à compter de l’enregistrement ; vous pouvez modifier
        votre consentement à tout moment en allant dans le centre de gestion des
        cookies.
      </p>

      <h6>Modification de la politique</h6>
      <p>
        Notre Politique de confidentialité est fréquemment mise à jour, en
        fonction des évolutions légales et réglementaires en la matière.
      </p>
      <p>Date de mise à jour : 26 septembre 2022</p>
    </ion-card-content>
  </ion-card>
</ion-content>
