<ion-header collapse="fade">
  <clovis-header title="Analyse" route="settings"></clovis-header>
</ion-header>
<ion-content [fullscreen]="true">
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <ion-list>
            <ion-list-header class="ion-no-padding">
              <ion-label
                >Optimisez vos finances et atteignez vos objectifs</ion-label
              >
            </ion-list-header>
            <ion-col>
              <ion-item color="undefined" lines="none">
                <ion-checkbox
                  disabled="true"
                  checked="true"
                  justify="start"
                  labelPlacement="end"
                  >Suivi des dépenses</ion-checkbox
                >
              </ion-item>
              <ion-item color="undefined" lines="none">
                <ion-checkbox
                  disabled="true"
                  checked="true"
                  justify="start"
                  labelPlacement="end"
                  >Catégories automatiques</ion-checkbox
                >
              </ion-item>
              <ion-item color="undefined" lines="none">
                <ion-checkbox
                  disabled="true"
                  checked="true"
                  justify="start"
                  labelPlacement="end"
                  >Objectifs budgétaires</ion-checkbox
                >
              </ion-item>
              <ion-item color="undefined" lines="none">
                <ion-checkbox
                  disabled="true"
                  checked="true"
                  justify="start"
                  labelPlacement="end"
                  >Capacité d’épargne</ion-checkbox
                >
              </ion-item>
            </ion-col>
          </ion-list>
          <ion-button size="small">
            Débloquer avec
            <ion-thumbnail>
              <img
                alt="clovis-icon"
                src="https://res.cloudinary.com/dyewhr2lj/image/upload/v1727188414/favicon.ico.ico"
              />
            </ion-thumbnail>
            Plus
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
